# Logs
*.log
logs
npm-debug.log*

# System Files
.DS_Store

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Node
node_modules/
dist/
build/

# Java / Gradle
backend/bin/
backend/build/
backend/.gradle/
*.class
*.jar
*.war

# Environment
.env
frontend/.env
backend/.env
